<html>
<head>
<title>Austin Black MIA Demo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
   <body>
      <form action = "/post-testing" method = "POST">
         <image src="https://archive72.sfo2.digitaloceanspaces.com/misc_media/DOLogo.png" height="450" width="450"></image>
         <p>Welcome to the S3 Storage Benchmarker. Currently supported vendors are DigitalOcean Spaces, Vultr, Linode, AWS S3, and any other cloud that can interface with boto3(GCP is not supported). Note that all data and objects generated here are ephemeral, and you should not use production keys with this tool. Please input your: </p>
         <p>Region Name (i.e. sfo2):<input type = "text" name = "region" /></p>
         <p>Endpoint URL (i.e. https://sfo2.digitaloceanspaces.com):<input type = "text" name = "endpoint" /></p>
         <p>Bucket Name:<input type = "text" name = "bucket" /></p>
         <p>Access Key: <input type = "text" name = "accesskey" /></p>
         <p>Secret Key: <input type = "text" name = "secretkey" /></p>
         <p>dd's count is set to <b>1024.</b> Adjust the block size below to generate objects of various size and shape.</p>
         <p>A min of 1 and max of 1024 will generate objects between 1KB and 1MB, a min of 1024 and a max of 1048576 will generate between 1 MB and 1 GB</p>
         <p>Minimum block size: <input type = "text" name = "minblock" /></p>
         <p>Maximum block size: <input type = "text" name = "maxblock" /></p>
         <p>Number of files: <input type = "text" name = "numfiles" /></p>
         <p>Save objects? (No deletion of objects from bucket, may incur charges depending on provider) <input type="checkbox" name="saveobjects"/></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>