<html xmlns="http://www.w3.org/1999/html">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <meta http-equiv = "refresh" content = "1; url = /post-testing" />
</head>
   <br>
Testing has begun!
   </br>
   </br>
<div class="tenor-gif-embed" data-postid="13380207" data-share-method="host" data-width="100%" data-aspect-ratio="2.4057971014492754"><a href="https://tenor.com/view/star-wars-anakin-this-is-where-the-fun-begins-gif-13380207">Star Wars Anakin GIF</a> from <a href="https://tenor.com/search/starwars-gifs">Starwars GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body>
</html>