<html xmlns="http://www.w3.org/1999/html">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <meta http-equiv = "refresh" content = "1; url = /post-testing" />
</head>
   <br>
Testing has begun!
   </br>
   </br>
<div class="tenor-gif-embed" data-postid="8352665" data-share-method="host" data-width="100%" data-aspect-ratio="1.5323076923076924"><a href="https://tenor.com/view/hitmans-bodyguard-hitmans-bodyguard-gifs-samuel-ljackson-time-tick-tock-gif-8352665">Tick Tock Muthafucka! GIF</a> from <a href="https://tenor.com/search/hitmansbodyguard-gifs">Hitmansbodyguard GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>    </body>
</html>